* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.pointer:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.63);
}

.pointer-big:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: rgba(255, 255, 255, 0.63);
}

.text-center {
    text-align: center;
}

.m-10 {
    margin: 10px;
}

.p-10 {
    padding: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-section {
    padding-bottom: 50%;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-big {
    font-size: 35px;
}

.small {
    font-size: small;
}

.border-bottom {
    border-bottom: 1px solid black;
}

#wrapper {
    background: rgb(2, 0, 36);
    background: linear-gradient(87deg, rgba(2, 0, 36, 1) 0%, rgba(50, 159, 81, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: calc(100vh - 100px);
    width: 100%;
}


/* ASIDE */
aside {
    float: left;
    height: calc(100vh - 100px);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

aside .spotty {
    color: #1DD15D;
}

aside .first-menu {
    width: 100%;
}

aside ul.shl li:hover {
    border-left: 5px solid green;
}

aside ul {
    list-style: none;
}

aside ul a {
    text-decoration: none;
    color: white;
}

aside .logo,
aside .user {
    display: flex;
    align-items: center;
    font-size: 30px;
}

aside .recent p {
    padding-bottom: 25px;
}

hr {
    width: 90%;
    margin: auto;
    display: none;
}

/* ----------- */


/* MAIN */
main {
    float: left;
    height: calc(100vh - 100px);
    width: 75%;
    overflow: auto;
}

main .container {
    width: 80%;
    margin: auto;
    height: calc(100vh - 100px);
}

main .container ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    margin: auto;
    font-size: 14px;
}

main .container ul li:hover {
    border-bottom: 1px solid white;
    transform: scale(1.1);
}

main li {
    padding: 15px;
}

main li a {
    color: white;
    text-decoration: none;
}

main .hamburger {
    display: none;
    font-size: 40px;
}

main .img-responsive {
    max-width: 100%;
    height: auto;
}

main .img-circle {
    border-radius: 100%;
}

main .img-deck {
    border-radius: 5%;
}

main .for-u,
main .recent,
main .classific,
main .genre,
main .discover {
    display: flex;
    flex-wrap: wrap;
}

main .card {
    text-align: center;
    width: 20%;
    padding: 20px;
    cursor: pointer;
}

main .card img {
    position: relative;
}

main .play-hover {
    color: white;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

main .card:hover {
    background-color: rgba(81, 107, 81, 0.795);
    border-radius: 10px;
    transform: scale(1.05);
}

main .card:hover .play-hover {
    opacity: 1;
}

/* -------- */

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(87deg, rgba(2, 0, 36, 1) 0%, rgba(50, 159, 81, 1) 100%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
}


/* footer left */
.footer-left {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left .img-container {
    height: 90%;
    padding: 10px;
}

.footer-left .img-container img {
    height: 100%;
    border-radius: 10%;
}

.footer-left span {
    font-size: small;
}

.footer-left .heart:hover {
    color: red;
}

/* footer center */
.footer-center {
    width: 50%;
}

.footer-center-top {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.footer-center-bottom {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.timer-now,
.timer-total {
    width: 15%;
}

.timer-total {
    text-align: right;
}

.slide-container {
    width: 70%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    vertical-align: middle;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(35, 31, 75);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(35, 31, 75);
    cursor: pointer;
}

/* footer right */
.footer-right {
    width: 20%;
    padding: 0 20px;
}

.footer-right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.footer-right-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.slide-volume {
    width: 70%;
    vertical-align: middle;
}



/* MEDIA QUERIES */
@media screen and (max-width: 767px) {

    aside span,
    aside .recent,
    aside ul>li>span {
        display: none;
    }

    .logo {
        justify-content: center;
    }

    .p-l-20 {
        padding-left: 0;
    }

    aside {
        align-items: center;
        text-align: center;
        width: 23%;
    }

    aside hr {
        display: block;
    }

    main {
        width: 77%;
    }

    main .container ul {
        display: none;
    }

    main .hamburger {
        display: block;
        text-align: right;
        margin-top: 10px;
        position: fixed;
        width: 68%;
        margin: auto;
    }

    main .create {
        padding-top: 60px;
    }

    main .text-big {
        font-size: 22px;
    }

    .container {
        width: 100%;
    }

    main .card {
        width: 50%;
    }

    footer .hidden-md {
        display: none;
    }

    .footer-left,
    .footer-center {
        flex-grow: 1;
    }

    .footer-center-bottom {
        justify-content: space-evenly;
    }

    .footer-left .img-container {
        height: 70%;
    }

    .timer-now,
    .timer-total {
        font-size: smaller;
    }

    .slide-container {
        width: 50%;
    }

    .hidden-sm {
        display: none;
    }
}

/* TABLET */
@media all and (min-width: 768px) and (max-width: 991px) {

    aside {
        width: 25%;
    }

    aside .recent {
        font-size: 15px;
    }

    aside .recent p {
        padding-bottom: 20px;
    }

    main {
        width: 75%;
    }

    main .container ul {
        display: none;
    }

    main .hamburger {
        display: block;
        text-align: right;
        margin-top: 10px;
        position: fixed;
        width: 65%;
        margin: auto;
    }

    main .create {
        padding-top: 60px;
    }

    .container {
        width: 100%;
    }

    main .card {
        width: 25%;
    }

    footer .hidden-md {
        display: none;
    }

    .footer-left .img-container {
        height: 80%;
    }
}

/* BIG SCREEN */
@media screen and (min-width: 1287px) {
    aside {
        width: 20%;
    }

    main {
        width: 80%;
    }
}